{% extends '@CMS/Admin/Structure/structure.html.twig' %}

{% block title %}{{ 'Edit folder'|trans }} / {{ parent() }}{% endblock %}

{% block content %}
<div class="row">
    <div class="span9 col-md-8">
        {{ knp_menu_render('CMSBundle:AdminMenu:structure', {'currentClass': 'active'})  }}

        <div class="box box-body">

            <div class="box-header with-border">
                <h3 class="box-title">{{ 'Edit folder'|trans }}: &laquo;{{ form.vars.value.title }}&raquo;</h3>
            </div>

        {{ form_start(form, {'attr':{'class':'well form-horizontal'}}) }}
        {{ form_errors(form) }}
        <fieldset>
            <div class="tabbable">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#base-settings" data-toggle="tab">{{ 'Base settings'|trans }}</a></li>
                    <li><a href="#meta-tags" data-toggle="tab">{{ 'Meta tags'|trans }}</a></li>
                    <li><a href="#folder-permissions" data-toggle="tab">{{ 'Permissions'|trans }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="meta-tags">
                        {{ form_widget(form.meta) }}
                    </div>
                    <div class="tab-pane" id="folder-permissions">
                        {{ form_row(form.groups_granted_read) }}
                        {{ form_row(form.groups_granted_write) }}

                        {# @todo сделать вот такой шаблон для прав
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Группа</th>
                                <th>Чтение</th>
                                <th>Запись</th>
                            </tr>
                            <tr>
                                <td>Гости</td>
                                <td><input value="1" checked="checked" type="checkbox"></td>
                                <td><input value="0" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>Администраторы</td>
                                <td><input value="1" checked="checked" type="checkbox"></td>
                                <td><input value="1" checked="checked" type="checkbox"></td>
                            </tr>
                            <tr>
                                <td>Новостеписатели</td>
                                <td><input value="1" checked="checked" type="checkbox"></td>
                                <td><input value="1" checked="checked" type="checkbox"></td>
                            </tr>
                        </table>
                        #}
                    </div>
                    <div class="tab-pane active" id="base-settings">
                        {{ form_widget(form) }}
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" name="update" class="btn btn-success"><i class="icon-ok icon-white"></i><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ 'Save'|trans }}</button>
                    {% if allow_delete %}
                        <button type="submit" name="delete" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить папку?')"><i class="icon-trash icon-white"></i><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{ 'Delete'|trans }}</button>
                    {% endif %}

                    {% if app.request.query.has('redirect_to') and folderPath %}
                        <a class="btn btn-default cms-cancel" href="{{ folderPath }}">{{ 'Cancel'|trans }}</a>
                    {% else %}
                        <a class="btn btn-default cms-cancel" href="{{ path('cms_admin.structure') }}">{{ 'Cancel'|trans }}</a>
                    {% endif %}

                </div>
            </div>
        </fieldset>
        {{ form_end(form) }}

        {% if not allow_delete %}
            <p class="muted">
                <small>* Для удаления папки, нужно удалить из неё все вложенные папки и ноды, а также исключить из наследования в областях.</small>
            </p>
        {% endif %}

        </div>
    </div>

    <div class="span3 col-md-4">
        {{ include('@CMS/Admin/Structure/_tree.html.twig') }}
    </div>
</div>
{% endblock content %}
