{% extends '@CMS/Admin/Structure/structure.html.twig' %}

{% block title %}{{ 'Create node'|trans }} / {{ parent() }}{% endblock %}

{% block body_js %}
    {{ parent() }}
    <script>var cms_modules_node_controllers = '{{ modules_node_controllers|json_encode }}';</script>

    <script>
        $('#nodeTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
            $(this.hash + ' input[autofocus="autofocus"]').focus();
        });

        $('#monolith_cms_node_module').onclick(function() {
            /**
             * @todo при выборе модуля в селекте #monolith_cms_node_module, надо в #monolith_cms_node_controller
             * подставлять options из массива cms_modules_node_controllers
             */
            alert( this.value );
        });
    </script>
{% endblock body_js %}

{% block content %}
<div class="row">
    <div class="span9 col-md-8">
        {{ knp_menu_render('CMSBundle:AdminMenu:structure', {'currentClass': 'active'})  }}

        <div class="box box-body">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'Create node'|trans }}</h3>
            </div>

            <form action="" enctype="multipart/form-data" method="POST" class="form-horizontal well">
                <ul class="nav nav-pills" id="nodeTab">
                    <li class="active"><a href="#node-common" data-toggle="tab">Основные свойства</a></li>
                    <li><a href="#node-permissions" data-toggle="tab">{{ 'Permissions'|trans }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="node-permissions">
                        {{ form_row(form.groups_granted_read) }}
                        {{ form_row(form.groups_granted_write) }}
                    </div>
                    <div class="tab-pane active" id="node-common">
                        {{ form_widget(form) }}
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" name="create" class="btn btn-success"><i class="icon-plus icon-white"></i><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'Add'|trans }}</button>

                        {% if app.request.query.has('redirect_to') and folderPath %}
                            <a class="btn btn-default cms-cancel" href="{{ folderPath }}">{{ 'Cancel'|trans }}</a>
                        {% else %}
                            <a class="btn btn-default cms-cancel" href="{{ path('cms_admin.structure') }}">{{ 'Cancel'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="span3 col-md-4">
        {{ include('@CMS/Admin/Structure/_tree.html.twig') }}
    </div>
</div>
{% endblock content %}
