{% extends '@CMS/Admin/Structure/structure.html.twig' %}

{% block title %}{{ 'Edit node'|trans }}: {{ node.id }} ({{ node.moduleShortName }}) / {{ parent() }}{% endblock %}

{% block content %}
<div class="row">
    <div class="span9 col-md-8">
        {{ knp_menu_render('CMSBundle:AdminMenu:structure', {'currentClass': 'active'})  }}

        <div class="box box-body">

            <div class="box-header with-border">
                <h3 class="box-title">{{ 'Edit node'|trans }}</h3>
            </div>

            <h3>Модуль {{ node.moduleShortName }}</h3>

            <h4>Первичная настройка ноды</h4>
            {% include '@CMS/Form/default.html.twig' %}

        </div>
    </div>

    <div class="span3 col-md-4">
        {{ include('@CMS/Admin/Structure/_tree.html.twig') }}
    </div>
</div>
{% endblock content %}
